{% load static %}
<!--_footer.html-->
<footer class="container" style="margin-top:10%">
    <div class="float-right">
        <a href="https://github.com/hiagoleite93" target="_blank">
            <img src="{% static 'git.png' %} " width="25px;">
        </a>
        <a href="https://www.linkedin.com/in/hiago-leite-da-silva-27b7b41a7/" target="_blank">
            <img src="{% static 'in.png' %} " width="25px;">
        </a>
        <a href="https://www.instagram.com/hiagols/" target="_blank">
            <img src="{% static 'ig.png' %} " width="25px;">
        </a>
    </div>
    <div class="container" style="position:absolut; border-left: 1px solid #bbbbbb;">
          <span class="text-muted">
              <div>Av. Coari Mamiá, 150 - Espirito Santo - Coari - Amazonas</div>
              <div>Whatsapp:(97)99180-0538 | E-mail:hiagoleite93@gmail.com</div>
              <div>Powered By Bootstrap | Made By Hiagols </div>
          </span>
        <div></div>
    </div>

    </div>
    </div>
</footer>
<!--/_footer.html-->

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
