{% extends 'static/base.html' %}
{% block titulo%} Sobre Mim |  {% endblock %}

{% block conteudo %}
{% load static %}
<link href="sobremim.css" rel="stylesheet">
<body>
<div class="row align-items-center">
    <div class="col-sm-8">
        <h1 class="display-4 fw-normal">Hiago Leite</h1>
        <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
            with this example based on Apple’s marketing pages.</p>

    </div>
    <div class="col-sm-4">
        <img src="{% static 'eu.png' %} " width="100%;" style="margin-top:10%">
    </div>
</div>
</body>
{%endblock%}
